.countdown-text{
  font-weight: bold;
  color:#0092d0;
  font-size: 22px;
  letter-spacing: -3px;
}
.upgrade-image {
  width: 57px;
  height: 26px;
}
.img-no-upgrade{
  max-width: 100%;
}

/* For mobile */
@media (max-width: 991.98px) {
  .mobile-padding-top {
    padding-top: 10px;
  }
}
