.commission_title_bold {
    font-size: 25px;
    color: #2578b9;
    font-weight: bold;
}

.commission_subtitle{
    font-size: 15px;
    font-weight: 600;
}

.commission_title_bold_subtitle {
    margin-top: -20px;
    margin-left: 30px;
}

.commission_title_bold_bigger {
    font-size: 40px;
    color: #2578b9;
    font-weight: bold;
}