// Base colors
$white: #fff;
$blue: #36a3f7;
$darkGrey: #3f4047;
$darkYellow: #f8bb00;
$darkRed: #ea4e4e;
$darkGreen: #00db86;
$gradientBlue: linear-gradient(180deg, rgb(121, 195, 207) 30%,rgba(0,174,239,1) 98%);

// Buttons
$buttonBackgroundColorPrimary: $blue;
$buttonBorderColorPrimary: $blue;
$buttonBackgroundColorPrimaryHover: $blue;
$buttonBorderColorPrimaryHover: $blue;

// Forms
$labelTextColor: $darkGrey;
$inputBorderColorFocus: $blue;

//buidZone

$blue-zone : #0892d0;
$gold-zone: #ffd200;
$white-zone: #e4ebf7;

$ncrease_dark : #494593;

$ncrease_primary : #9043AB;
$ncrease_secondary: #F21788;